/* NAVBAR DESKTOP */
.container__max {
    max-width: 100%;
}

.bg-red {
    background-color: #f72210;
}

.bg-black {
    background-color: #000;
}

.btn--no-radius {
    border-radius: 0;
}

.text-red {
    color: #f72210;
}

.nav-item {
    font-size: 1.3rem;
}

.gif {
    width: 150px;
}

.indelible {
    font-size: 0;
    background: url("https://c-6rtwjumjzx7877x24x78x2esjbx78bjjpx2ehtr.g00.newsweek.com/g00/3_c-6bbb.sjbx78bjjp.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fx78.sjbx78bjjp.htrx2fx78nyjx78x2fbbb.sjbx78bjjp.htrx2fymjrjx78x2fsjbx78bjjpx2fnrfljx78x2fSIJQNGQJ.gqfhp8.lnkx3fn65h.rfwpx3dstyMYRQ_$/$/$/$/$/$/$") 0 5px/90px no-repeat;
    display: block;
    width: 105px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sm-margin-left {
    margin-left: 15px;
}

.header__title {
    font-size: 6rem;
}

/* NAVBAR MOBILE */
.nav-mobile-bottom {
    height: 2.3rem;
}

.nav-movile-img-container {
    width: 10rem;
}

/* CONTENT */
.content-container {
    width: 95%;
}

.section-header {
    font-size: .9rem;
}

.news-img-top__img-container {
    position: relative;
}

.news-img-top__img-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f72210;
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;
}

.news-img-top__link:hover {
    text-decoration-color: #f72210;
}

.news-text__link:hover {
    /* text-decoration: none; */
    /* color: #f72210 !important; */
    text-decoration-color: #f72210;
}

.text-gray {
    color: #bbb !important;
}

.sm-font {
    font-size: .3rem;
}

.md-font {
    font-size: .5rem;
}

.lg-font {
    font-size: .7rem;
}

.featured-slideshows_img-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f72210;
    padding: 8px 15px 5px;
    background-color: rgba(255, 255, 255, .9);
    background: url("/assets/img/icon-slideshows-nw.png") 0 0/contain no-repeat;
    z-index: 1;
}

.sponsor-bottom-card {
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
}