body {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.container__min {
    max-width: 1300px;
}

.bg-red {
    background-color: #f72210;
}

.margin-top {
    margin-top: 15px;
}

.no-padding-vert {
    padding: 0 15px;
}

.border-right {
    border-right: solid 1px grey;
}

.btn--no-radius {
    border-radius: 0;
}

.text-red {
    color: #f72210;
}

.no-padding {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.nav__angle {
    position: relative;
}

.nav__angle::before {
    position: absolute;
    top: -15px;
    right: -15px;
    content: "";
    display: block;
    width: 100px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
}

.nav__bottom-border {
    padding-bottom: 5px;
    border-bottom: solid 2px #eee;
}

.nav-item {
    font-size: 1.3rem;
}

.gif {
    width: 150px;
}

.indelible {
    font-size: 0;
    background: url("https://c-6rtwjumjzx7877x24x78x2esjbx78bjjpx2ehtr.g00.newsweek.com/g00/3_c-6bbb.sjbx78bjjp.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fx78.sjbx78bjjp.htrx2fx78nyjx78x2fbbb.sjbx78bjjp.htrx2fymjrjx78x2fsjbx78bjjpx2fnrfljx78x2fSIJQNGQJ.gqfhp8.lnkx3fn65h.rfwpx3dstyMYRQ_$/$/$/$/$/$/$") 0 5px/90px no-repeat;
    display: block;
    width: 105px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sm-margin-left {
    margin-left: 15px;
}

.header__title {
    font-size: 6rem;
}

/* CONTENT */
.content-container {
    width: 95%;
}

.section-header {
    font-size: .9rem;
}

.news-img-top__img-container {
    position: relative;
}

.news-img-top__img-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f72210;
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;
}

.news-img-top__link:hover {
    text-decoration-color: #f72210;
}

.news-text__link:hover {
    /* text-decoration: none; */
    /* color: #f72210 !important; */
    text-decoration-color: #f72210;
}

.text-gray {
    color: #bbb !important;
}

.sm-font {
    font-size: .3rem;
}

.md-font {
    font-size: .5rem;
}

.featured-slideshows_img-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f72210;
    padding: 8px 15px 5px;
    background-color: rgba(255, 255, 255, .9);
    background: url("/assets/img/icon-slideshows-nw.png") 0 0/contain no-repeat;
    z-index: 1;
}

.sponsor-bottom-card {
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
}